<html>
<head>
<title>OpenVNAVI Controller</title>
<script type=text/javascript src="{{url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='png.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jquery-ui.min.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.min.css') }}">
</head>

<body>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<h2>Vibration motor values</h2>

<div>
    Input mode:
    <input type="radio" name="inputMode" value="kinect">Kinect</td>
    <input type="radio" name="inputMode" value="web">Web</td>
</div>

<h3>PWM Input</h3>
<div id="motorsContainer"></div>
<button id="sendButton">Send</button>

<h3>Manipulate</h3>
<div>
    Set all: <input id="setAllInput" type="text" size = "4"/>
    <button id="setAllButton">Set</button>
</div>

<div>
    Find: <input id="findInput" type="text" size = "4"/>
    Replace:  <input id="replaceInput" type="text" size = "4"/>
    <button id="replaceButton">Replace</button>
</div>

<h3>PNG input</h3>
<div>
    <input type="file" id="file">
</div>

<canvas width="160" height="80" id="outCanvas"></canvas>


<h3>PWM Output</h3>
<div id="outPWMContainer"></div>

<h3>Downsampled depth image</h3>
<div id="depthImgContainer"></div>
<button id="updateButton">Update</button>

<h3>User Input Slider</h3>
User ID: <input id="userID" type="text" size="5"/><br/>
<div id="flat-slider"></div><br/>
<input id="sliderChange" type="text" size = "4"/>
<input id="sliderSlide" type="text" size = "4"/>
<input id="sliderStart" type="text" size = "4"/><br/>
<button id="saveCurrentSliderValue">Save Current Value</button>
<input id="numberOfStoredValues" type="text" size="3"/>
<button id="removeLastStoredValue">Remove Last Stored Value</button></br>
<button id="downloadAllStoredValues">Create CSV string with all values</button>
<div id="resultArea"></div>

<!-- namespace -->
<script type=text/javascript>
    $(function() {
        var maxValue = 3000;
        window.vnavi = {};
        window.vnavi.rowCount = 8;
        window.vnavi.colCount = 16;
        window.vnavi.motorInputs = [];
        window.vnavi.loadedPNG;
        window.vnavi.currentNumberOfStoredValues = 0;
        window.vnavi.getCheckedValue = function(possibleValue){
            var checkedValue = possibleValue;
            if (isNaN(checkedValue))
            {
                return 0;
            }else{
                return Math.min(possibleValue, maxValue);
            };
        }
        window.vnavi.setAllValues = function(newValue){
            var valueToSet = window.vnavi.getCheckedValue(newValue);
            $.each(window.vnavi.motorInputs, function(index, motorInput) {
                motorInput.val(valueToSet);
            });
        }
        window.vnavi.setValuesForPNGSpecifiedBoxes = function(newValue){
            var valueToSet = window.vnavi.getCheckedValue(newValue);
            var png = window.vnavi.loadedPNG;
            var width = 16
            var height = 8

            for (var y = 0; y < height; y++){
                for (var x = 0; x < width; x++){
                    var colors = png.getPixel(x, y);
                    if (colors[0] !== 0) {
                        window.vnavi.motorInputs[y * width + x].val(valueToSet);
                    };
                }
            }
        }
        window.vnavi.sendAllValues = function(){
            var rowCount = window.vnavi.rowCount;
            var colCount = window.vnavi.colCount;
            var motorValues = [];
            for (var row = 0; row < rowCount; row++)
            {
                rowValues = []
                for (var col = 0; col < colCount; col++)
                {
                    var index = row * colCount + col;
                    var motorValue = parseInt(window.vnavi.motorInputs[index].val());
                    rowValues.push(motorValue);
                }
                motorValues.push(rowValues)
            }

            var modeValue = $("input[name=inputMode]:checked").val();

            // data to be sent to the server
            var data = {
                "motors": motorValues,
                "mode": modeValue
            }

            // sending data to server
            var jqxhr = $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    url: $SCRIPT_ROOT + '/_send_motors'
                })
                .done(function(data) 
                    {
                        // console.log(data);
                    }
                );
            // end bind()
            return false;
        }
    });
</script>

<!-- motor text array -->
<script type=text/javascript>
  $(function() {
    // global parameters
    var rowCount = window.vnavi.rowCount
    var colCount = window.vnavi.colCount

    // create text boxes for motor input
    var inputContainer = $('div#motorsContainer');
    var motorInputs = [];

    // expose variables to namespace
    window.vnavi.motorInputs = motorInputs;

    // create text input widgets
    for (var row = 0; row < rowCount; row++)
    {
        for (var col = 0; col < colCount; col++)
        {
            var aMotorInput = $("<input type='text' size = '4' value='0'/>");
            motorInputs.push(aMotorInput);
            inputContainer.append(aMotorInput);
        }
        inputContainer.append($("<br/>"));
    }

    // listen to submit button event
    $('#sendButton').bind('click', function(){
        window.vnavi.sendAllValues();
    });
  });
</script>

<!-- manipulate -->
<script type="text/javascript">
    $(function() {
       
        $('#setAllButton').bind('click', function() {
            var inputValue = $("#setAllInput").val();
            //$.each(window.vnavi.motorInputs, function(index, motorInput) {
            //    motorInput.val(inputValue);
            //});
            window.vnavi.setAllValues(inputValue);

            // end bind()
            return false;
        });

        $('#replaceButton').bind('click', function() {
            var findValue = $("#findInput").val();
            var replaceValue = $("#replaceInput").val();
            $.each(window.vnavi.motorInputs, function(index, motorInput) {
                if (motorInput.val() == findValue)
                {
                    motorInput.val(replaceValue);
                }
            });

            // end bind()
            return false;
        });

    });
</script>

<!-- PNG input -->
<script type=text/javascript>
    var reader = new FileReader();

    reader.onload = function(event){
        var bytes = event.target.result;
        var pngReader = new PNGReader(bytes);
        pngReader.parse(function(err, png){
            if (err) throw err;
            // console.log('image is <' + png.width + ',' + png.height +'>');
            // console.log(png);
            window.vnavi.loadedPNG = png;
            drawOnCanvas(png);
        });
    };

    var file = document.getElementById('file');
    file.onchange = function(event){
        reader.readAsArrayBuffer(file.files[0]);
    }

    var drawOnCanvas = function(png){
        var i = 0;
        var width = 16
        var height = 8

        var outCanvas = document.getElementById('outCanvas');
        var zoom = outCanvas.width / width;
        var outCtx = outCanvas.getContext('2d');
        
        for (var y = 0; y < height; y++){
            for (var x = 0; x < width; x++){
                var colors = png.getPixel(x, y);
                var r = colors[0];
                var g = colors[1];
                var b = colors[2];
                var a = colors[3];
                window.vnavi.motorInputs[y * width + x].val(colors[0]);
                outCtx.fillStyle = "rgba("+r+","+g+","+b+","+(a/255)+")";
                outCtx.fillRect(x*zoom,y*zoom,zoom,zoom);
            }
        }


    }
</script>

<!-- output snapshot -->
<script type=text/javascript>
    $(function() {
        // global parameters
        var rowCount = window.vnavi.rowCount
        var colCount = window.vnavi.colCount

        // create text boxes for motor input
        var outPWMDiv = $('div#outPWMContainer');
        var depthImgDiv = $('div#depthImgContainer');

        // local variables
        var outPWMWidgets = [];
        var depthWidgets = [];

        // expose variables to namespace
        window.vnavi.outPWMWidgets = outPWMWidgets;
        window.vnavi.depthWidgets = depthWidgets;

        // create text input widgets
        for (var row = 0; row < rowCount; row++)
        {
            for (var col = 0; col < colCount; col++)
            {
                var aWidget = $("<input type='text' size = '4' value='0'/>");
                outPWMWidgets.push(aWidget);
                outPWMDiv.append(aWidget);

                var aWidget = $("<input type='text' size = '4' value='0'/>");
                depthWidgets.push(aWidget);
                depthImgDiv.append(aWidget);
            }
            outPWMDiv.append($("<br/>"));
            depthImgDiv.append($("<br/>"));
        }


        // handle update button
        $('#updateButton').bind('click', function() {
            var jqxhr = $.get($SCRIPT_ROOT + '/_get_render_data')
                .done(function (data) {
                    
                    for (var row = 0; row < rowCount; row++)
                    {
                        for (var col = 0; col < colCount; col++)
                        {
                            outPWMWidgets[row * colCount + col].val(data["PWM"][row][col])
                            depthWidgets[row * colCount + col].val(data["depth"][row][col])
                        }
                    }

                });
        });
    });
</script>

<!-- Slider input -->
<script type=text/javascript>
    $(function() {
        var adjustedSliderRange = 1000;
        $('#flat-slider').slider({
            orientation:'horizontal',
            range: false,
            min: 0,
            max: 3000,
            value: 50
        });
        $('#flat-slider').on("slidechange", function(event,ui){
            $('#sliderChange').val(ui.value);
            //test if a png has been loaded
            if (typeof window.vnavi.loadedPNG !== "undefined"){
                //just update the specified values
                window.vnavi.setValuesForPNGSpecifiedBoxes(ui.value);
            }else{
                //update all values
                window.vnavi.setAllValues(ui.value);
            }
            window.vnavi.sendAllValues();
        });
        $('#flat-slider').on("slide", function(event,ui){
            $('#sliderSlide').val(ui.value);
        });
        $('#flat-slider').on("slidestart", function(event,ui){
            $('#sliderStart').val(ui.value);
        });


        $('#saveCurrentSliderValue').bind('click', function() {
            var currentSliderValue = $('#flat-slider').slider("value");
            window.vnavi.currentNumberOfStoredValues++;
            localStorage.setItem("user"+$('#userID').val()+"value"+window.vnavi.currentNumberOfStoredValues, currentSliderValue);
            $('#numberOfStoredValues').val(window.vnavi.currentNumberOfStoredValues);

            //randomize the range of the slider so that the user isn't focussing on the position of the slider
            var newMin = Math.round(currentSliderValue - (Math.random()*(adjustedSliderRange/2)+100));
            var newMax = Math.round(newMin + adjustedSliderRange);
            var newStartingValue = currentSliderValue;
            //move the starting value depending on the next task (moving until the user feels something vs. until she doesn't feel something)
            if (window.vnavi.currentNumberOfStoredValues%2===0) {
                //next task is moving until not feeling something
                newStartingValue = Math.round(newStartingValue+90);
            }else{
                //next task is moving until feeling something
                newStartingValue = Math.round(newStartingValue-90);
            };
            //set new values for the slider
            $('#flat-slider').slider('option', 'min', newMin);
            $('#flat-slider').slider('option', 'max', newMax);
            $('#flat-slider').slider('option', 'value', newStartingValue);

        });

        $('#removeLastStoredValue').bind('click', function(){
            localStorage.removeItem("user"+$('#userID').val()+"value"+window.vnavi.currentNumberOfStoredValues);
            window.vnavi.currentNumberOfStoredValues--;
            if (window.vnavi.currentNumberOfStoredValues < 0) {window.vnavi.currentNumberOfStoredValues = 0;};
            $('#numberOfStoredValues').val(window.vnavi.currentNumberOfStoredValues);
        });

        $("#downloadAllStoredValues").click( function() {
          var text = $('#userID').val()+", ";
          var sum = 0;
          for (var i = 1; i <= window.vnavi.currentNumberOfStoredValues; i++) {
            var currentValue = localStorage.getItem("user"+$('#userID').val()+"value"+i); 
            text = text + currentValue + ", ";
            sum += parseInt(currentValue);
            localStorage.removeItem("user"+$('#userID').val()+"value"+i);
          };
          var mean = sum / window.vnavi.currentNumberOfStoredValues;
          text = text + mean;
          $("#resultArea").append(text);
          //var filename = "DataOfUser"+$('#userID').val();
          //var blob = new Blob([text], {type: "text/plain;charset=utf-8"});
          //saveAs(blob, filename+".txt");
        });


    });
</script>

</body>

</html>